
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities; 


*{
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-purple-500;
}